<div class="vw-100 d-flex align-items-center flex-column container mt-4">
    <h3 class="text-success text-center ms-5">Order List From Backend MongoDb</h3>
    <table class="table table-bordered border-black text-center ms-5">
        <thead>
            <tr>
                <th>Id</th>
                <th scope="col">Items</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Total Price</th>
                <!-- <th scope="col">Option</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of order.items">
                                <td>{{ item.id }}</td>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>{{order.employeeId}}</td>
                <td>{{order.totalPrice}}</td>
                <!-- <td><button class="btn btn-success px-5" (click)="goToUpdate(order)">Edit</button></td> -->
            </tr>
        </tbody>
    </table>
</div>