<nav class="navbar navbar-expand-lg navbar-dark bg-dark vw-100">
    <div class="container-fluid">

        <h3 class="navbar-brand">Private Base</h3>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="studentDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" (click)="isStudentDropdownOpen = !isStudentDropdownOpen">
                        Employee
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="studentDropdown" [class.show]="isStudentDropdownOpen">
                        <li><a class="dropdown-item" routerLink="/dashboard/employee">Add Employee</a></li>
                        <li><a class="dropdown-item" routerLink="/dashboard/employee/show-all-employees">Show Employees</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="courseDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="isCourseDropdownOpen = !isCourseDropdownOpen">
                        Department
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="courseDropdown" [class.show]="isCourseDropdownOpen">
                        <li><a class="dropdown-item" routerLink="/dashboard/department/">Add Department</a></li>
                        <li><a class="dropdown-item" routerLink="/dashboard/department/show-all-departments">Show Departments</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="testingDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="isMyTestingDropdownOpen = !isMyTestingDropdownOpen">
                        User Department
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="testingDropdown" [class.show]="isMyTestingDropdownOpen">
                        <li><a class="dropdown-item" routerLink="/dashboard/user-department">Add User Departments</a></li>
                        <li><a class="dropdown-item" routerLink="/dashboard/user-department/show-user-departments">Show User Departments</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="itemDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="isItemDropdownOpen = !isItemDropdownOpen">
                        Items
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="itemDropdown" [class.show]="isItemDropdownOpen">
                        <li><a class="dropdown-item" routerLink="/dashboard/item">Add Item</a></li>
                        <li><a class="dropdown-item" routerLink="/dashboard/item/show-all-items">Show Items</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="orderDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="isOrderDropdownOpen = !isOrderDropdownOpen">
                        Order
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="orderDropdown" [class.show]="isOrderDropdownOpen">
                        <li><a class="dropdown-item" routerLink="/dashboard/order">Add Order</a></li>
                        <li><a class="dropdown-item" routerLink="/dashboard/order/show-all-orders">Show Orders</a></li>
                    </ul>
                </li>
            </ul>

            <div class="ms-auto">
                <button class="btn btn-danger" routerLink="/login">Logout</button>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex align-items-center justify-content-center mt-4 vw-100">
    <router-outlet></router-outlet>
</div>