<div class="vw-100 d-flex align-items-center flex-column container m-4">
    <h3 class="text-success text-center ms-5">User Department List From Backend Mssql</h3>
    <table class="table table-bordered border-black text-center ms-5">
        <thead>
            <tr>
                <th>Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Department Id</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of userDepartments">
                <td>{{dept.id}}</td>
                <td>{{dept.userId}}</td>
                <td>
                    {{dept.departmentId}}</td>
                    <td>
                        @if (dept.isActive) {
                            <button class="btn btn-success btn-sm">Working</button>
                        }
                        @else {
                            <button class="btn btn-danger btn-sm">Closed</button>
                        }
                    </td>
            </tr>
        </tbody>
    </table>
</div>